{% extends "index.html" %}
{% block content %}
<div class="container">
    
    <h5>{{contenido.titulo}}</h5>
    <img src="{{contenido.imagen}}" class="img-fluid">
    <h5><strong>Materia: </strong>{{contenido.materia}}</h5>
    <p><strong>Año: </strong>{{contenido.ano}}</p>
    <p><strong>Fecha de Publicación: </strong>{{contenido.fecha}}</p>
    <p>{{contenido.contenido}}</p>
    <br></br>

    <!-- Sección de comentarios -->
    <form method="POST">
        {% csrf_token %}
        <div class="form-group" style="max-width: 400px; padding: 10px; border-radius: 5px; background-color: #f9f9f9;">
            <h5>Comentarios</h5>
            <label for="comentario" placeholder="Deja tu comentario"></label>
            <textarea class="form-control" id="comentario" name="comentario" rows="3"></textarea>
        </div>
        <button type="submit" class="btn btn-primary" style="margin-top: 10px;">Enviar</button>
    </form>
    
    <!-- Botones de Denunciar y Votar -->
    <div style="margin-top: 20px; margin-bottom: 50px;">
        <button type="button" class="btn btn-danger" data-bs-toggle="modal" data-bs-target="#denunciarModal">Denunciar</button>
        <button type="button" class="btn btn-success" data-bs-toggle="modal" data-bs-target="#votarModal">Votar</button>
    </div>

    <!-- Modales -->
    <!-- Modal Denunciar -->
    <div class="modal fade" id="denunciarModal" tabindex="-1" aria-labelledby="denunciarModalLabel" aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="denunciarModalLabel">Denunciar Publicación</h5>
                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                </div>
                <div class="modal-body">
                    <form method="POST" enctype="multipart/form-data">
                        {% csrf_token %}
                        {% for field in form %}
                        <div class="mb-3">
                            {{ field.label_tag }}
                            {{ field }}
                        </div>
                        {% endfor %}
                        <button type="submit" class="btn btn-danger">Enviar Denuncia</button>
                    </form>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Cerrar</button>
                </div>
            </div>
        </div>
    </div>
    

    <!-- Modal Votar -->
    <div class="modal fade" id="votarModal" tabindex="-1" role="dialog" aria-labelledby="votarModalLabel" aria-hidden="true">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="votarModalLabel">Votar Publicación</h5>
                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                </div>
                <div class="modal-body">
                    <!-- Aquí irá el contenido del formulario para votar -->
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Cerrar</button>
                    <button type="button" class="btn btn-success">Enviar Voto</button>
                </div>
            </div>
        </div>
    </div>
    
</div>

{% endblock %}
